<div class="show">
    <p class="book-title">
        <%= @book.title %>
    </p>

    <p class="book-body">
        <%= @book.body %>
    </p>
</div>


<%= link_to Edit, edit_book_path(@blog) %>
<%= link_to Back, edit_book_path(@blog) %>